# Logs
logs                # Ignore log files
*.log               # Ignore all .log files
npm-debug.log*      # Ignore npm debug log files
yarn-debug.log*     # Ignore Yarn debug log files
yarn-error.log*     # Ignore Yarn error log files
pnpm-debug.log*     # Ignore pnpm debug log files
lerna-debug.log*    # Ignore Lerna debug log files

# Dependency directories
node_modules        # Ignore node_modules directory
dist                # Ignore build output directory
dist-ssr            # Ignore server-side rendered build output
*.local             # Ignore local environment files

# Editor directories and files
.vscode/*           # Ignore all VS Code settings files
!.vscode/extensions.json # Allow extensions.json for shared workspace settings
.idea               # Ignore JetBrains IDE settings
.DS_Store           # Ignore macOS system files
*.suo               # Ignore Visual Studio solution user options
*.ntvs*             # Ignore Node.js Tools for Visual Studio files
*.njsproj           # Ignore Node.js project files
*.sln               # Ignore Visual Studio solution files
*.sw?               # Ignore swap files created by text editors
